#gridList {
    display: flex;
    flex-wrap: wrap;
    border: solid 2px blue;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0;
}

#gridList > * {
    flex-basis: 24%;
    border: solid 3px red;
}
