.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Delete these background colours */
#box1 {
  background-color: darkorchid;
}

#box2 {
  background-color: aqua;
}

#box3 {
  background-color: lime;
}

/* custom styling starts here */


/*POSITIONING*/

#boxesContainer {
  display: flex;
  flex-direction:column;
  height: 100vh;
}

#box1 {
  flex: none;
  /*border: solid 2px red;*/
}

#content {
  flex: 9;
  display: flex;
}

#box2 {
  flex: 1;
}

#box3 {
  display: flex;
  flex: 4;
  border: dashed 4px;
}

#box3 > * {
  flex: 1;
}

/* TODO: Make mobile/tablet responsive with media queries */

#toolbar {
}

#toolbarGroup {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 100%
}

#toolbarGroup > * {
  display: flex;
  /*border: solid 2px navajowhite;*/
}

#toolbarTitle {
  align-items: center;
}

#toolbarControls > * {
  /*border: solid 2px blue;*/
}

#registerButton, #login {
  align-self: flex-end;
}
